---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=____SILENCED_client_id____&client_secret=____SILENCED_client_secret____&grant_type=refresh_token&refresh_token=____SILENCED_refresh_token____
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"access_token\" : \"____SILENCED_access_token____\",\n  \"token_type\"
        : \"Bearer\",\n  \"expires_in\" : 3600\n}"
  recorded_at: Wed, 31 Oct 2012 09:00:48 GMT
- request:
    method: get
    uri: https://9c0a6d00-0478-0130-7986-0023dfa5d78c.commondatastorage.googleapis.com/?websiteConfig
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - binary/octet-stream
      x-goog-api-version:
      - 2
      authorization:
      - Bearer ____SILENCED_access_token____
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><WebsiteConfiguration><MainPageSuffix>index.html</MainPageSuffix><NotFoundPage>404.html</NotFoundPage></WebsiteConfiguration>
  recorded_at: Wed, 31 Oct 2012 09:00:48 GMT
recorded_with: VCR 2.3.0
