language: ruby
bundler_args: --without development
rvm:
  - 1.9.3
  - 1.9.2
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
  - ruby-head
  - jruby-head
  - ree
script:
  - bundle exec rspec
matrix:
  allow_failures:
    - rvm: ruby-head
