---
http_interactions:
- request:
    method: get
    uri: https://gs-test-8ceefc500a360130fe45005b2013754b.storage.googleapis.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - binary/octet-stream
      X-Goog-Api-Version:
      - 2
      Authorization:
      - ____SILENCED_access_token____
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><ListBucketResult xmlns='http://doc.s3.amazonaws.com/2006-03-01'><Name>gs-test-8ceefc500a360130fe45005b2013754b</Name><Prefix></Prefix><Marker></Marker><IsTruncated>false</IsTruncated></ListBucketResult>
  recorded_at: Tue, 06 Nov 2012 11:53:54 GMT
- request:
    method: put
    uri: https://gs-test-8ceefc500a360130fe45005b2013754b.storage.googleapis.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - binary/octet-stream
      X-Goog-Api-Version:
      - 2
      X-Goog-Project-Id:
      - ____SILENCED_x-goog-project-id____
      Authorization:
      - ____SILENCED_access_token____
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><Error><Code>BucketAlreadyOwnedByYou</Code><Message>Your
        previous request to create the named bucket succeeded and you already own
        it.</Message></Error>
  recorded_at: Tue, 06 Nov 2012 11:53:56 GMT
recorded_with: VCR 2.3.0
