---
http_interactions:
- request:
    method: get
    uri: https://gs-test-930e75400a360130fe47005b2013754b.storage.googleapis.com/?acl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - binary/octet-stream
      X-Goog-Api-Version:
      - 2
      Authorization:
      - ____SILENCED_access_token____
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><AccessControlList><Owner><ID>____SILENCED_google_project_id____</ID></Owner><Entries><Entry><Scope
        type='GroupById'><ID>____SILENCED_google_project_id____</ID></Scope><Permission>FULL_CONTROL</Permission></Entry><Entry><Scope
        type='GroupById'><ID>____SILENCED_google_project_id____</ID></Scope><Permission>FULL_CONTROL</Permission></Entry><Entry><Scope
        type='GroupById'><ID>____SILENCED_google_project_id____</ID></Scope><Permission>READ</Permission></Entry></Entries></AccessControlList>
  recorded_at: Tue, 06 Nov 2012 11:54:03 GMT
recorded_with: VCR 2.3.0
