--- 
http_interactions: 
- request: 
    method: get
    uri: https://gs-test-c3424ed00a140130fd70005b2013754b.storage.googleapis.com/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - binary/octet-stream
      X-Goog-Api-Version: 
      - 2
      Authorization: 
      - ____SILENCED_access_token____
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/xml; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><ListBucketResult xmlns='http://doc.s3.amazonaws.com/2006-03-01'><Name>gs-test-c3424ed00a140130fd70005b2013754b</Name><Prefix></Prefix><Marker></Marker><IsTruncated>false</IsTruncated></ListBucketResult>
  recorded_at: Tue, 06 Nov 2012 07:51:59 GMT
recorded_with: VCR 2.3.0
