--- 
http_interactions: 
- request: 
    method: get
    uri: https://storage.googleapis.com/
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Content-Type: 
      - binary/octet-stream
      X-Goog-Api-Version: 
      - 2
      X-Goog-Project-Id: 
      - ____SILENCED_x-goog-project-id____
      Authorization: 
      - ____SILENCED_access_token____
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/xml; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><ListAllMyBucketsResult xmlns='http://doc.s3.amazonaws.com/2006-03-01'><Owner><ID>00b4903a9774df5a708ab94aefd8092f04c2ff2d02023e7d115cdef2af02e2e4</ID></Owner><Buckets><Bucket><Name>lucas_bucket</Name><CreationDate>2012-09-30T10:31:55.658Z</CreationDate></Bucket></Buckets></ListAllMyBucketsResult>
  recorded_at: Tue, 06 Nov 2012 07:52:02 GMT
recorded_with: VCR 2.3.0
