---
http_interactions:
- request:
    method: get
    uri: https://storage.googleapis.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - binary/octet-stream
      X-Goog-Api-Version:
      - 2
      X-Goog-Project-Id:
      - ____SILENCED_x-goog-project-id____
      Authorization:
      - ____SILENCED_access_token____
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><ListAllMyBucketsResult xmlns='http://doc.s3.amazonaws.com/2006-03-01'><Owner><ID>____SILENCED_google_project_id____</ID></Owner><Buckets><Bucket><Name>gs-test-86ec22600a2b0130fe45005b2013754b</Name><CreationDate>2012-11-06T10:35:02.434Z</CreationDate></Bucket><Bucket><Name>gs-test-8f8ce8400a2f0130fe59005b2013754b</Name><CreationDate>2012-11-06T11:03:52.938Z</CreationDate></Bucket><Bucket><Name>gs-test-a7d819e00a2b0130fe51005b2013754b</Name><CreationDate>2012-11-06T10:35:56.917Z</CreationDate></Bucket><Bucket><Name>lucas_bucket</Name><CreationDate>2012-09-30T10:31:55.658Z</CreationDate></Bucket></Buckets></ListAllMyBucketsResult>
  recorded_at: Tue, 06 Nov 2012 11:54:18 GMT
recorded_with: VCR 2.3.0
