---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=____SILENCED_x-goog-project-id____.apps.googleusercontent.com&client_secret=____SILENCED_client_secret____&grant_type=authorization_code&code=4%2FXmcefdmzZD5MyP2MeCMFuQM1q1S1.wuwkehvHrCYTgrKXntQAax3g-ySpdQI&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauth2callback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"access_token\" : \"____SILENCED_access_token____\",\n  \"token_type\"
        : \"Bearer\",\n  \"expires_in\" : 3600,\n  \"refresh_token\" : \"____SILENCED_refresh_token____\"\n}"
  recorded_at: Tue, 06 Nov 2012 07:14:00 GMT
recorded_with: VCR 2.3.0
