---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=____SILENCED:_client_id____&client_secret=____SILENCED:_client_secret____&grant_type=refresh_token&refresh_token=____SILENCED:_refresh_token____
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"access_token\" : \"ya29.AHES6ZSC7hP1YTi7-ZKGqvTYSMAMSWTe1HSUFtbsVYJQsgoUGQQt-dE\",\n
        \ \"token_type\" : \"Bearer\",\n  \"expires_in\" : 3600\n}"
  recorded_at: Tue, 30 Oct 2012 19:35:44 GMT
- request:
    method: put
    uri: https://7baa01c0-04f5-0130-7987-0023dfa5d78c.commondatastorage.googleapis.com/?websiteConfig
    body:
      encoding: US-ASCII
      string: <WebsiteConfiguration><MainPageSuffix>index.html</MainPageSuffix><NotFoundPage>404.html</NotFoundPage></WebsiteConfiguration>
    headers:
      content-type:
      - binary/octet-stream
      x-goog-api-version:
      - 2
      authorization:
      - Bearer ya29.AHES6ZSC7hP1YTi7-ZKGqvTYSMAMSWTe1HSUFtbsVYJQsgoUGQQt-dE
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 30 Oct 2012 19:35:44 GMT
recorded_with: VCR 2.2.5
